body {
    background-color: #f8e3e8;
    font-family: 'Roboto', sans-serif;
}

.weather-app {
    background-color: #484848;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 20px 40px #909090;
    padding: 30px;
}



