body {
    background-color: #f8e3e8;
    font-family: 'Roboto', sans-serif;
}

.weather-app {
    background-color: #484848;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 20px 40px #909090;
    padding: 30px;
    line-height: 20px;
}

header {
    border-bottom: 1px solid #f8e3e8;
    padding: 20px 0;
}

.search-form-input {
    background-color: #f8e3e8;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 15px 20px;
    font-size: 15px;
}

.search-form-button {
    background-color: #FB9EBB;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-left: 7px;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: 600;
}

main {
    padding: 30px 0;
}

.weather-app-date {
    display: flex;
    justify-content: space-between;
}

.current-city {
    margin: 0;
    font-size: 40px;
    line-height: 35px;
    color: #FB9EBB;
    font-weight: 500;
}

.current-date {
    font-size: 18px;
    color: #f8e3e8;
    margin-top: 5px;
    font-weight: 400;
}

.weather-app-details {
    position: relative;
    bottom: -20px;
    font-size: 15px;
    color: #f8e3e8;
    line-height: 20px;
}

.weather-app-details strong {
    color: #FB9EBB;
}

.current-temperature{
    position: relative;
    right: -360px;
    top: -80px;
}
.temperature-value {
    font-size: 70px;
    color: #f8e3e8;
    font-weight: 600;
}

.temperature-icon {
   position: relative;
   top: -8px;
   font-size: 40px;
}

.temperature-unit {
    position: relative;
    top: -35px;
    font-size: 20px;
    color: #FB9EBB;
    font-weight: 500;
}

footer {
    border-top: 1px solid #f8e3e8;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

a {
    color: #FB9EBB;
}