body {
    background-color: #f8e3e8;
    font-family: 'Roboto', sans-serif;
}

.weather-app {
    background-color: #484848;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 20px 40px #909090;
    padding: 30px;
}

.search-form-input {
    background-color: #f8e3e8;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 15px 20px;
    font-size: 15px;
}

.search-form-button {
    background-color: #FB9EBB;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-left: 7px;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: 600;
}

